.display {
  height: 6em;
  width: 13em;
  font-size: 1em;
  border-radius: .5em;
  border: .1em solid;
  padding: .5em;
  margin: .5em;
  text-align: left;
}


.controlPad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 400px
}

.controlPadRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.controlPadButton {
font-size: 20px;
padding: 1em;
border: 2px solid;
margin: 0.3em;
border-color: black;
border-radius: 0.5em;
}